# Informal Data Inspection

An informal notebook to inspect the MPSD dataset.

In [35]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm, trange

sns.set()

In [2]:
data_url = "https://media.githubusercontent.com/media/felipevieira/computacao-e-musica-lsd/master/sbcm-2017/Datasets/MPSD%20v1.0.csv"

df = pd.read_csv(data_url)

/Users/vedantvarshney/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,6,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
len(df)

1993607

In [5]:
df.head()

,Unnamed: 0,source,user_id,track_name,artist_name,mbids,playlist_id,tags,playlist_name,date,...,mood_sad_value,mood_sad_prob,moods_mirex_value,moods_mirex_prob,timbre_value,timbre_prob,tonal_atonal_value,tonal_atonal_prob,voice_instrumental_value,voice_instrumental_prob
0,1,vagalume,sitevagalume,Eraser,Ed Sheeran,[],6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,vagalume,sitevagalume,Castle On The Hill,Ed Sheeran,[u'5780b6fb-066f-4147-ac0e-0d8c8e812e02'],6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide,NaN,...,not_sad,0.649855,Cluster5,0.361099,bright,0.912051,atonal,0.949714,voice,0.990462
2,3,vagalume,sitevagalume,Dive,Ed Sheeran,[],6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,vagalume,sitevagalume,Shape Of You,Ed Sheeran,[],6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,vagalume,sitevagalume,Perfect,Ed Sheeran,[],6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'source', 'user_id', 'track_name', 'artist_name', 'mbids',
       'playlist_id', 'tags', 'playlist_name', 'date', 'danceability_value',
       'danceability_prob', 'gender_value', 'gender_prob',
       'genre_dortmund_value', 'genre_dortmund_prob', 'genre_electronic_value',
       'genre_electronic_prob', 'genre_rosamerica_value',
       'genre_rosamerica_prob', 'genre_tzanetakis_value',
       'genre_tzanetakis_prob', 'ismir04_rhythm_value', 'ismir04_rhythm_prob',
       'mood_acoustic_value', 'mood_acoustic_prob', 'mood_aggressive_value',
       'mood_aggressive_prob', 'mood_electronic_value', 'mood_electronic_prob',
       'mood_happy_value', 'mood_happy_prob', 'mood_party_value',
       'mood_party_prob', 'mood_relaxed_value', 'mood_relaxed_prob',
       'mood_sad_value', 'mood_sad_prob', 'moods_mirex_value',
       'moods_mirex_prob', 'timbre_value', 'timbre_prob', 'tonal_atonal_value',
       'tonal_atonal_prob', 'voice_instrumental_value',
       'voice_instrumental_prob'],
      dtype='object')

In [9]:
df.drop(df.columns[10:], axis=1, inplace=True)

In [10]:
df.columns

Index(['Unnamed: 0', 'source', 'user_id', 'track_name', 'artist_name', 'mbids',
       'playlist_id', 'tags', 'playlist_name', 'date'],
      dtype='object')

In [11]:
df.drop(["mbids"], axis=1, inplace=True)

In [13]:
df.rename({"Unnamed: 0": "number"}, axis=1, inplace=True)

In [39]:
df.drop(["date"], axis=1, inplace=True)

In [40]:
df.head()

,number,source,user_id,track_name,artist_name,playlist_id,tags,playlist_name
0,1,vagalume,sitevagalume,Eraser,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
1,2,vagalume,sitevagalume,Castle On The Hill,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
2,3,vagalume,sitevagalume,Dive,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
3,4,vagalume,sitevagalume,Shape Of You,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
4,5,vagalume,sitevagalume,Perfect,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide

In [41]:
len(df)

1993607

In [46]:
for col in df.columns:
    print(df[col].dtype)

int64
object
object
object
object
object
object
object

In [48]:
for col in df.columns[1:]:
    df[col] = df[col].astype(str)

In [49]:
df.head()

,number,source,user_id,track_name,artist_name,playlist_id,tags,playlist_name
0,1,vagalume,sitevagalume,Eraser,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
1,2,vagalume,sitevagalume,Castle On The Hill,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
2,3,vagalume,sitevagalume,Dive,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
3,4,vagalume,sitevagalume,Shape Of You,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide
4,5,vagalume,sitevagalume,Perfect,Ed Sheeran,6736120,"Pop,Rock,Pop/Rock",Ed Sheeran - Divide

In [50]:
len(df)

1993607

In [51]:
df.tail()

,number,source,user_id,track_name,artist_name,playlist_id,tags,playlist_name
1993602,1993603,aotm,DJ Palindrome,For Martha,The Smashing Pumpkins,19786,Rock/Pop,Playlist 32736
1993603,1993604,aotm,DJ Palindrome,Movin' On,Blur,19786,Rock/Pop,Playlist 32736
1993604,1993605,aotm,DJ Palindrome,Sliver,Nirvana,19786,Rock/Pop,Playlist 32736
1993605,1993606,aotm,DJ Palindrome,Wouldn't Mama Be Proud,Elliott Smith,19786,Rock/Pop,Playlist 32736
1993606,1993607,aotm,DJ Palindrome,Peace on Earth,U2,19786,Rock/Pop,Playlist 32736

In [52]:
df.to_csv("original_data.csv")

In [55]:
len(df.artist_name.dropna())/len(df.artist_name)

1.0